In [1]:
# add .. to PYTHONPATH
import sys
sys.path.append("..")
%load_ext autoreload
%autoreload 2

from telemetry import Telemetry
t = Telemetry()
t.set_pandas_adapter()

In [2]:
t.games()

,id,name,created,modified
0,1,iRacing,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
1,2,RaceRoom,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
2,3,Assetto Corsa Competizione,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
3,4,Assetto Corsa (64 bit),2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
4,5,Automobilista 2,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
5,6,rFactor 2 (64 bit),2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
6,7,Automobilista,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
7,8,pCARS (network data),2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
8,9,Race Room,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
9,10,pCARS 2,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
10,11,rFactor,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
11,12,GTR 2,2023-07-04 16:27:23.231475+00:00,2023-07-04 16:27:23.240536+00:00
12,13,pCARS (64 bit),2023-07-30 14:20:39.834020+00:00,2023-07-30 14:20:39.834020+00:00
13,14,Assetto Corsa (32 bit),2023-08-21 19:58:33.342909+00:00,2023-08-21 19:58:33.342909+00:00
14,15,Richard Burns Rally,2023-12-21 09:37:18.833469+00:00,2023-12-21 09:37:18.833469+00:00
15,16,pCARS 3,2023-12-31 01:57:19.980456+00:00,2023-12-31 01:57:19.980456+00:00
16,17,iracing,2024-01-29 00:37:25.108586+00:00,2024-01-29 00:37:25.108586+00:00
17,18,ams2,2024-02-01 18:14:37.480642+00:00,2024-02-01 18:14:37.480642+00:00
18,19,Le Mans Ultimate,2024-02-21 14:58:50.053661+00:00,2024-02-21 14:58:50.053661+00:00
19,20,Project Cars (64 bit),2024-05-18 20:06:40.319592+00:00,2024-05-18 20:06:40.319592+00:00

In [3]:
t.sessions(group_by = 'driver', limit = None)

            name  count
0          Aaron    106
1         Abgelo      9
2           Adam    288
3          Adnan      9
4           Alan     11
..           ...    ...
205       oliver    407
206  ricky bobby    337
207       samsam      3
208        wilms     22
209         zain     20

[210 rows x 2 columns]