In [1]:
# add .. to PYTHONPATH
import sys
sys.path.append("..")
%load_ext autoreload
%autoreload 2

from telemetry import Telemetry

In [2]:
t = Telemetry()
t.set_pandas_adapter()
t.set_filter({'session_id': 1719840630})
t.get_telemetry_df().head()

,result,table,_start,_stop,_time,CarModel,CurrentLap,GameName,SessionId,SessionTypeName,...,SteeringAngle,Throttle,TyreType,WorldPosition_x,WorldPosition_y,WorldPosition_z,Yaw,x,y,id
0,_result,0,2023-07-03 17:45:30.938071+00:00,2024-07-02 17:45:30.938071+00:00,2024-07-01 15:30:35.640037+00:00,Citroen Xsara Kit Car,0,Richard Burns Rally,1719840630,Race,...,-0.007843,0.000000,Dry Gravel,-83.04983,-231.150589,-27.045351,-64.44776,83.04983,-231.150589,1719840630-0
1,_result,0,2023-07-03 17:45:30.938071+00:00,2024-07-02 17:45:30.938071+00:00,2024-07-01 15:30:35.744887+00:00,Citroen Xsara Kit Car,0,Richard Burns Rally,1719840630,Race,...,-0.007843,0.000000,Dry Gravel,-83.04983,-231.150589,-27.045351,-64.44776,83.04983,-231.150589,1719840630-0
2,_result,0,2023-07-03 17:45:30.938071+00:00,2024-07-02 17:45:30.938071+00:00,2024-07-01 15:30:35.857103+00:00,Citroen Xsara Kit Car,0,Richard Burns Rally,1719840630,Race,...,-0.007843,0.007843,Dry Gravel,-83.04983,-231.150589,-27.045351,-64.44776,83.04983,-231.150589,1719840630-0
3,_result,0,2023-07-03 17:45:30.938071+00:00,2024-07-02 17:45:30.938071+00:00,2024-07-01 15:30:35.966476+00:00,Citroen Xsara Kit Car,0,Richard Burns Rally,1719840630,Race,...,-0.015686,0.168627,Dry Gravel,-83.04983,-231.150589,-27.045351,-64.44776,83.04983,-231.150589,1719840630-0
4,_result,0,2023-07-03 17:45:30.938071+00:00,2024-07-02 17:45:30.938071+00:00,2024-07-01 15:30:36.075650+00:00,Citroen Xsara Kit Car,0,Richard Burns Rally,1719840630,Race,...,-0.031373,0.407843,Dry Gravel,-83.04983,-231.150589,-27.045351,-64.44776,83.04983,-231.150589,1719840630-0

In [3]:
t.games().head()

,id,name,created,modified
0,1,iRacing,2023-07-04 16:27:23.231000+00:00,2023-07-04 16:27:23.240000+00:00
1,2,RaceRoom,2023-07-04 16:27:23.231000+00:00,2023-07-04 16:27:23.240000+00:00
2,3,Assetto Corsa Competizione,2023-07-04 16:27:23.231000+00:00,2023-07-04 16:27:23.240000+00:00
3,4,Assetto Corsa (64 bit),2023-07-04 16:27:23.231000+00:00,2023-07-04 16:27:23.240000+00:00
4,5,Automobilista 2,2023-07-04 16:27:23.231000+00:00,2023-07-04 16:27:23.240000+00:00

In [4]:
t.sessions().head()

,id,session_id,start,end,driver_id,game_id,session_type_id,created,modified
0,455759,1715408324,2024-05-11 02:18:44.244298+00:00,2024-05-11 02:23:02.719138+00:00,1,1,4,2024-05-11 02:18:46.797479+00:00,2024-05-11 02:23:02.721930+00:00
1,455775,1715409228,2024-05-11 02:33:48.103574+00:00,2024-05-11 02:33:49.631366+00:00,1,4,2,2024-05-11 02:33:49.726679+00:00,2024-05-11 02:33:49.726679+00:00
2,455776,1715409237,2024-05-11 02:33:57.280818+00:00,2024-05-11 02:33:59.682818+00:00,1,4,2,2024-05-11 02:33:59.766279+00:00,2024-05-11 02:33:59.766279+00:00
3,455774,1715409199,2024-05-11 02:33:36.676467+00:00,2024-05-11 02:34:19.791490+00:00,1,1,4,2024-05-11 02:33:39.692222+00:00,2024-05-11 02:34:19.822102+00:00
4,455778,1715409441,2024-05-11 02:37:38.097396+00:00,2024-05-11 02:42:26.720992+00:00,1,1,2,2024-05-11 02:37:40.438321+00:00,2024-05-11 02:42:26.739444+00:00