In [1]:
# add .. to PYTHONPATH
import sys
sys.path.append("..")
%load_ext autoreload
%autoreload 2

from telemetry import Telemetry

In [2]:
t = Telemetry()
t.set_pandas_adapter()
t.set_filter({'session_id': 1718114100})
t.get_telemetry_df().head()

,result,table,_start,_stop,_time,CarModel,CurrentLap,GameName,SessionId,SessionTypeName,...,LapTimePrevious,PreviousLapWasValid,Rpms,SpeedMs,SteeringAngle,Throttle,WorldPosition_x,WorldPosition_y,WorldPosition_z,id
0,_result,0,2024-04-19 20:10:34.837980+00:00,2024-06-18 20:10:34.837980+00:00,2024-06-11 15:55:01.812144+00:00,VW Polo R WRC 2016,0,Richard Burns Rally,1718114100,Race,...,-1.0,True,1203.65112,0.0,-0.023529,0.0,183.4715,-1776.5791,92.1229,1718114100-0
1,_result,0,2024-04-19 20:10:34.837980+00:00,2024-06-18 20:10:34.837980+00:00,2024-06-11 15:55:01.921869+00:00,VW Polo R WRC 2016,0,Richard Burns Rally,1718114100,Race,...,-1.0,True,1216.94958,0.0,-0.023529,0.0,183.4715,-1776.5791,92.1229,1718114100-0
2,_result,0,2024-04-19 20:10:34.837980+00:00,2024-06-18 20:10:34.837980+00:00,2024-06-11 15:55:02.027754+00:00,VW Polo R WRC 2016,0,Richard Burns Rally,1718114100,Race,...,-1.0,True,1210.95837,0.0,-0.023529,0.0,183.4715,-1776.5791,92.1229,1718114100-0
3,_result,0,2024-04-19 20:10:34.837980+00:00,2024-06-18 20:10:34.837980+00:00,2024-06-11 15:55:02.142110+00:00,VW Polo R WRC 2016,0,Richard Burns Rally,1718114100,Race,...,-1.0,True,1215.97974,0.0,-0.023529,0.0,183.4715,-1776.5791,92.1229,1718114100-0
4,_result,0,2024-04-19 20:10:34.837980+00:00,2024-06-18 20:10:34.837980+00:00,2024-06-11 15:55:02.250231+00:00,VW Polo R WRC 2016,0,Richard Burns Rally,1718114100,Race,...,-1.0,True,1206.30115,0.0,-0.023529,0.0,183.4715,-1776.5791,92.1229,1718114100-0

In [3]:
t.games().head()

                         name
0                     iRacing
1                    RaceRoom
2  Assetto Corsa Competizione
3      Assetto Corsa (64 bit)
4             Automobilista 2

In [4]:
t.sessions().head()

,sessionId,start,end,telemetryDriverByDriverId
0,1680319016,2023-04-01T00:00:00.001+00:00,2023-04-01T00:18:36.078+00:00,{'name': 'Jim'}
1,1680321341,2023-04-01T00:00:00.012+00:00,2023-04-01T00:08:29.384+00:00,{'name': 'SShukes'}
2,1680320700,2023-04-01T00:00:00.025+00:00,2023-04-01T00:03:21.422+00:00,{'name': 'Jim'}
3,1680301061,2023-04-01T00:00:00.076+00:00,2023-04-01T00:05:43.961+00:00,{'name': 'Jim'}
4,1680321317,2023-04-01T00:00:00.104+00:00,2023-04-01T00:01:27.263+00:00,{'name': 'Jim'}